p, h1 {
    margin: 0;
    padding: 0;
}


.appMain {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.appMain_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    margin: 40px 40px;
    padding: 20px 9px 10px 9px;
    box-shadow: 0 0 15px rgb(126, 126, 132);
}

.appMain_icon img {
    width: 64px;
    height: 64px;
}
.appMain p {
    margin-top: 10px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 400;
}
